// COLOR VARIABLES
$color-primary: #d3b167;
$color-primary-dark: #b2a351;

$color-secondary: #101d2c;

$color-grey-light-1: #f9f7f6;
$color-grey-light-2: #aaa;

$color-grey-dark-1: #54483A;
$color-grey-dark-2: #6D5D4B;

// FONT VARIABLES
$font-primary: 'Nunito', sans-serif;
$font-display: 'Josefin Sans', sans-serif;

// breakpoints
$bp-l: 75em; // 1200px
$bp-m: 62em; // 1000px
$bp-s: 50em; // 800px
$bp-xs: 37em; //600px


*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; //16px -> 10px: 1rem = 10px

    @media only screen and (max-width: $bp-l) {
        font-size: 50%;
    }
}

body{
    font-family: $font-primary;
    color:$color-grey-dark-2;
    font-weight: 300;
    line-height: 1.6;
}

.container {
    display: grid;
    grid-template-rows: 80vh min-content 40vw repeat(3, min-content);
    grid-template-columns: [sidebar-start] 8rem [sidebar-end full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 15rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];

    @media only screen and (max-width: $bp-m) {
        grid-template-rows: 5rem 80vh min-content 40vw repeat(3, min-content);
        grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 15rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];
    }

    @media only screen and (max-width: $bp-s){
        grid-template-rows: 5rem calc(100vh - 5rem);
    }

}

.btn{
    background-color: $color-primary;
    border: 0;
    border-radius: 0;
    padding: 2rem 3rem;
    cursor: pointer;
    transition: all .3s;

    &:hover{
        background-color: $color-primary-dark;
    }
}

.mb-s{ margin-bottom: 2rem;}
.mb-m{ margin-bottom: 3rem;}
.mb-l{ margin-bottom: 4rem;}
.mb-xl{ margin-bottom: 6rem;}