.sidebar{
    background-color: $color-primary;
    grid-column: sidebar-start / sidebar-end;
    grid-row: 1 / -1;

    display: flex;
    justify-content: center;

    @media only screen and (max-width: $bp-m){
        grid-column: 1 / -1;
        grid-row: 1 / 2;
        justify-content: flex-start;
        align-items: center;
    }
}

.nav-btn{
    border: none;
    border-radius: 0;
    background-color: #fff;
    height: .2rem;
    width: 4rem;
    margin-top: 4rem;

    &::after,
    &::before{
        content: "";
        display: block;
        background-color: #fff;
        height: .2rem;
        width: 4rem;
    }

    &::before{
        transform: translateY(-1.3rem);
    }
    &::after{
        transform: translateY(1.3rem);
    }

    @media only screen and (max-width: $bp-m){
        margin-top: 0;
        margin-left: 2rem;

        &::before{
            transform: translateY(-1rem);
        }
        &::after{
            transform: translateY(1rem);
        }
    }
}